@font-face {
    font-family: 'NovaPoshta';
    src: url('./../fonts/NovaPoshta-Bold.woff2') format('woff2'),
        url('./../fonts/NovaPoshta-Bold.woff2') format('woff');
    font-weight: 700;
}

@font-face {
    font-family: 'NovaPoshta';
    src: url('./../fonts/NovaPoshta-Black.woff2') format('woff2'),
        url('./../fonts/NovaPoshta-Black.woff2') format('woff');
    font-weight: 900;
}

@font-face {
    font-family: 'NovaPoshta';
    src: url('./../fonts/NovaPoshta-Italic.woff2') format('woff2'),
        url('./../fonts/NovaPoshta-Italic.woff2') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'NovaPoshta';
    src: url('./../fonts/NovaPoshta-Medium.woff2') format('woff2'),
        url('./../fonts/NovaPoshta-Medium.woff2') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'NovaPoshta';
    src: url('./../fonts/NovaPoshta-Regular.woff2') format('woff2'),
        url('./../fonts/NovaPoshta-Regular.woff2') format('woff');
    font-weight: 400;
}
